.svg-experience-dims {
	width: 140px;
	height: 130px;
}

.svg-git-dims {
	width: 30px;
	height: 29.263px;
}

.svg-hello-dims {
	width: 140px;
	height: 138.526px;
}

.svg-sk-dims {
	width: 30px;
	height: 30px;
}

.svg-vk-dims {
	width: 37.513px;
	height: 21.403px;
}

