// vars
$green: #8cc34b;
$grey: #727272;
$black: #212121;

// layout
@import "misc/fonts";
@import "misc/mixins";
@import "misc/normalize";
@import "misc/adjustment";
@import "misc/sprite";
@import "misc/font-awesome";

// styles
@import "sections/header";
@import "sections/about-student";
@import "sections/courses";
@import "sections/footer";
