section.courses
  .container
    h2.courses__title Курсы на Loftblog
    .courses__disc
      p которые помогут мне в выполнении этого задания
    ul.courses__list
      li.courses__item
        a(href='#').item__link
          .item__head.item__head_js
          .item__body
            h3.item__body-title Основы JavaScript
            .item__body-disc
              p.
                Видеокурс о одном из самых популярных языков
                программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный
                язык от самых основ.
            .item__body-time
              i(aria-hidden='true').fa.fa-clock-o
              p 24 урока (6 часов 45 минут)
          .item__foot
            input(type='checkbox')#check1.item__foot-checkbox
            label(for='check1').item__foot-label Посмотрел
      li.courses__item
        a(href='#').item__link
          .item__head.item__head_jquery
          .item__body
            h3.item__body-title Основы JQUERY
            .item__body-disc
              p.
                Видеокурс о одном из самых популярных языков
                программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный
                язык от самых основ.
            .item__body-time
              i(aria-hidden='true').fa.fa-clock-o
              p 11 уроков (2 часа 6 минут)
          .item__foot
            input(type='checkbox')#check2.item__foot-checkbox
            label(for='check2').item__foot-label Посмотрел
      li.courses__item
        a(href='#').item__link
          .item__head.item__head_base
          .item__body
            h3.item__body-title Базовые элементы страницы
            .item__body-disc
              p.
                Видеокурс по верстке и программированию основных и популярных
                элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон,
                слайдшоу, слайдер и т.д.
            .item__body-time
              i(aria-hidden='true').fa.fa-clock-o
              p 9 уроков (2 часа 7 минут)
          .item__foot
            input(type='checkbox')#check3.item__foot-checkbox
            label(for='check3').item__foot-label Посмотрел
      li.courses__item
        a(href='#').item__link
          .item__head.item__head_adaptive
          .item__body
            h3.item__body-title Создание адаптивных сайтов
            .item__body-disc
              p.
                В этом курсе вы узнаете как создавать адаптивные сайты, что
                  такое адаптивная верстка и дизайн.
            .item__body-time
              i(aria-hidden='true').fa.fa-clock-o
              p 7 уроков (2 часа 11 минут)
          .item__foot
            input(type='checkbox')#check4.item__foot-checkbox
            label(for='check4').item__foot-label Посмотрел
      li.courses__item
        a(href='#').item__link
          .item__head.item__head_btn-gen
          .item__body
            h3.item__body-title Верстка адаптивной css галереи
            .item__body-disc
              p.
                В этом видеокурсе вы изучите инструменты, техники и подходы для
                  web-разработчика, которые помогут вам решать поставленные задачи более быстро и
                  эффективно.
            .item__body-time
              i(aria-hidden='true').fa.fa-clock-o
              p 6 уроков (1 час 9 минут)
          .item__foot
            input(type='checkbox')#check5.item__foot-checkbox
            label(for='check5').item__foot-label Посмотрел
      li.courses__item
        a(href='#').item__link
          .item__head.item__head_css
          .item__body
            h3.item__body-title Основы CSS
            .item__body-disc
              p.
                В этом курсе мы разберем как сверстать адаптивную css галерею.
                  Также познакомимся с Flexbox.
            .item__body-time
              i(aria-hidden='true').fa.fa-clock-o
              p 4 урока (50 минут)
          .item__foot
            input(type='checkbox')#check6.item__foot-checkbox
            label(for='check6').item__foot-label Посмотрел
            
