section.courses
  .container
    h2.courses__title Курсы на Loftblog
    .courses__disc
      p которые помогут мне в выполнении этого задания
    ul.courses__list
      li.courses__item
        a(href='#').item__link
          .item__head.item__head_js
          .item__body
            h3.item__body-title Основы JavaScript
            .item__body-disc
              p.
                Видеокурс о одном из самых популярных языков
                программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный
                язык от самых основ.
            .item__body-time
              i(aria-hidden='true').fa.fa-clock-o
              p 24 урока (6 часов 45 минут)
          .item__foot
            input(type='checkbox')#check1.item__foot-checkbox
            label(for='check1').item__foot-label Посмотрел
            
