header.header
  .container
    .header__left
      .user__avatar
        a(href='#').user__avatar-link
          img(src="assets/img/user.png").user__avatar-img
      .user__disc
        .user__disc-name
          p Быстров Борис Викторович
        .user__disc-mail
          a(href='mailto:bystrov@gmail.com').user__disc-mail-link bystrov@gmail.com
    .header__right
      ul.socials
        li.icons.socials__git
          a(href='https://github.com/' target='_blank').socials__link
            svg.icon.svg-git-dims
              use(xlink:href='assets/img/sprite/sprite.svg#git')
        li.icons.socials__skype
          a(href='https://www.skype.com/ru/' target='_blank').socials__link
            svg.icon.svg-sk-dims
              use(xlink:href='assets/img/sprite/sprite.svg#sk')
        li.icons.socials__vk
          a(href='https://vk.com/' target='_blank').socials__link
            svg.icon.svg-vk-dims
              use(xlink:href='assets/img/sprite/sprite.svg#vk')
