meta(charset="utf-8")
meta(name="viewport" content="width=device-width")

title Тестовое задание

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

link(rel="stylesheet" href="styles/build.css")

meta(name="description" content="my description")
meta(name="keywords" content="my keywords")

link(rel="shortcut icon" href="/favicon.ico")
link(rel="apple-touch-icon" href="/img/apple-touch-icon.png")
link(rel="image_src" href="//url.to/img/apple-touch-icon.png")
